<html>
  <head>
    <title>Sample Ticket Platform</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Unexpected Error</h1>
    <p>
      Sorry, we found unexpected error from our server side.
    </p>
  </body>
</html>